body{
    background-color: rgba(233, 201, 141, 0.87);
}

#two{
    background-image: url(images/b.jpg);
    background-position: center;
    background-size: 50%;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


div.formu {
    display: table-row;
}

label, input {
    display: table-row;
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

label.blanc {
    color: white;
    padding-right: 10px;
}

h1.blanc {
    color: white;
    padding-right: 10px;
}

p.blanco {
    color:rgb(210, 210, 210);
}

h2.vert {
    color:green;
}

h2.rouge {
    color:rgb(204, 12, 12);
}


fieldset
{
    background-color: rgb(220, 220, 220);;
    width:330px;
	border:1px solid black;
	background-image: url(images/two.png);
    background-position: center;
    background-size: 100%;
	
}

.gray {
    width: 90px;
    font-weight: bold;
    background-color: rgb(210, 210, 210);
    }

    .title{
        position:relative;
        text-align:center;
        color: rgb(255, 255, 255);
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    }
    .title::before{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        width:100%;
        height:2px;
        z-index:-1;
    }
    .title span{
        padding:4px 8px;
    }

    .titl{
        position:relative;
        font-weight: bold;
        color: rgb(13, 96, 151);
    }
    .transp{
        color: rgb(210, 210, 210, 0);
    }

    button {
        background-color: rgb(210, 210, 210);
        Color:black;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer; 
        box-shadow: 0 8px 16px 0 grey;
      }

      .btn_droite {
        width: 90px;
        font-weight: bold;
        background-color: rgb(210, 210, 210);
        position:relative;
        left:80%;
        }

    .btn_unPeuDroite {
        font-weight: bold;
        background-color: rgb(210, 210, 210);
        position:relative;
        left:5%;
        }

    #consignes{
        margin-left: 30px;
    }


    .russe {
        color: rgb(130, 15, 15);
        font-size: medium;
    }

    .francais {
        color: rgb(20, 29, 112);
        font-size: medium;
    }
    
    .russeTitre {
        font-weight: bold;
        color: rgb(130, 15, 15);
        font-size: large;
    }

    .francaisTitre {
        font-weight: bold;
        color: rgb(20, 29, 112);
        font-size: large;
    }   

    .styled {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgb(101, 169, 247);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);

        width: 250px; 
        margin:5px; 
    }
    
    .styled:hover {
        background-color: rgb(157, 203, 247);
    }
    
    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    


    .styledArret {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 1);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
        margin:20px; 
    }
    
    .styledArret:hover {
        background-color: rgb(253, 97, 97);
    }
    
    .styledArret:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
    



    table{
        border-collapse: collapse
      }
      
      td.bord{
        border: 1px solid black;
        padding: 10px;
      }